<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

    <link href="https://fonts.cdnfonts.com/css/gg-sans-2" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
    <nav>
        <div class="nav-container">
            <ul class="nav-links">
                <li class="left-most"><a href="/admin/students">Students</a></li>
                <li><a href="/class_registry">Teachers</a></li>
                <li><a href="/past_classes">Past Classes</a></li>
              </ul>
            <ul>
            <ul>
                {% if sub %}
                <form id="refreshForm" action="/refresh_account_type" method="post">
                    <input type="submit" id="refreshButton" class="nav-button" value="Refresh Account Type"><br>
                </form>

                <script src="{{ url_for('static', filename='js/refresh_cooldown.js') }}"></script>
                {% endif %}

                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="content-wrapper">
        <div class="main-content">
            {% if not email_verified %}
            <h3>Email not Verified</h3>
            {% elif email_verified %}
            <h3>Email Verified</h3>
            {% endif %}
            
            {% if not name %}
            <form action="/admin_submit" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br><br>
        
                <input type="submit" value="Submit">
            </form>
            {% endif %}

            <div class="account-type-container">
                <form action="/change_account_type" style="display: flex;" method="post">
                    <!-- This span acts like the input now -->
                    <span id="user_id" class="acc-type-input editable-input" contenteditable="true" placeholder="User ID..."></span>
                    <input type="hidden" name="sub" id="hidden_user_id">
                    <div class="custom-select" id="customSelect">
                        <div class="selected-value" id="selectedValue">Select an option</div>
                        <div class="options-container" id="optionsContainer">
                            <!-- Options will be inserted here by JavaScript -->
                        </div>
                    </div>
                    <input type="hidden" name="accountType" id="hiddenInput">
                    <button type="submit" class="nav-button">Submit</button>
                </form>
            </div>

            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    const editableInput = document.getElementById("user_id");
                    const hiddenInput = document.getElementById("hidden_user_id");

                    editableInput.addEventListener("input", function() {
                        // Update hidden input value with the contenteditable text
                        hiddenInput.value = editableInput.textContent.trim();
                    });

                    // Mimic placeholder behavior
                    if (!editableInput.textContent.trim()) {
                        editableInput.textContent = editableInput.getAttribute("placeholder");
                        editableInput.classList.add("placeholder-style");
                    }
                    editableInput.addEventListener("focus", function() {
                        if (editableInput.classList.contains("placeholder-style")) {
                            editableInput.textContent = "";
                            editableInput.classList.remove("placeholder-style");
                        }
                    });
                    editableInput.addEventListener("blur", function() {
                        if (!editableInput.textContent.trim()) {
                            editableInput.textContent = editableInput.getAttribute("placeholder");
                            editableInput.classList.add("placeholder-style");
                        }
                    });
                });
            </script>

            <div id="statusMessage" class="status-message"></div>

            <script src="{{ url_for('static', filename='js/account_type_status.js') }}"></script>

            <script src="{{ url_for('static', filename='js/account_type.js') }}"></script>
            <script>
                function submitAccTypeChange() {
                    var query = document.getElementById('hiddenInput').value;
                    fetch('/change_account_type', {
                    method: 'POST', // Specify the method
                    headers: {
                        'Content-Type': 'application/json' // Specify the content type
                    },
                    body: JSON.stringify(query) // Convert the JavaScript object to a JSON string
                    })
                    .then(response => response.json()) // Parse the JSON response
                    .then(data => {
                        console.log('Success:', data); // Handle the success response
                    })
                    .catch((error) => {
                        console.error('Error:', error); // Handle errors
                    });
                }
            </script>

            <h1>Teacher Requests Awaiting Approval</h1>
            {% if teacher_temp %}
            <table id="teacher-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>teacher_id</th>
                        <th>teacher_name</th>
                        <th>teacher_email</th>
                        <th>Action</th> <!-- New column for the action -->
                    </tr>
                </thead>
                <tbody>
                    {% for entry in teacher_temp %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td><button class="delete-btn" onclick="deleteEntry('{{ entry[0] }}')"><i class="fas fa-trash-alt"></i></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No teacher requests awaiting approval.</p>
            {% endif %}

            <h1>Class Requests Awaiting Approval</h1>
            {% if pending_enrollments %}
            <table id="class-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>enrollment_id</th>
                        <th>student_id</th>
                        <th>class_id</th>
                        <th>points</th>
                        <th>approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in pending_enrollments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="/enrollment/{{ entry[0] }}">{{ entry[0] }}</a></td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No class requests awaiting approval.</p>
            {% endif %}
            
            <h1>Unenrollment Requests</h1>
            {% if pending_unenrollments %}
            <table id="unenrollment-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>unenrollment_id</th>
                        <th>student_id</th>
                        <th>class_id</th>
                        <th>points</th>
                        <th>approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in pending_unenrollments %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="/enrollment/{{ entry[0] }}">{{ entry[0] }}</a></td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            <h1>Students</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>student_id</th>
                        <th>student_name</th>
                        <th>student_email</th>
                        <th>student_dob</th>
                        <th>parent_wechat</th>
                        <th>parent_email</th>
                        <th>class_id</th>
                        <th>active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in students %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                        <td>{{ entry[5] }}</td>
                        <td>{{ entry[6] }}</td>
                        <th>{{ entry[7] }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h1>Teachers</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>teacher_id</th>
                        <th>teacher_name</th>
                        <th>teacher_email</th>
                        <th>teacher_classes</th>
                        <th style="position: relative;">
                            active
                            <span class="tooltip-text">Active Account Type</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in teachers %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            
            <div class="and-header">
                <div class="search-container">
                    <form action="/search" method="get">
                        <input type="text" placeholder="Search classes..." name="q" id="searchInput" class="search-input">
                    </form>
                    <form onsubmit="submitSearch(); return false;">
                        <button type="submit" class="nav-button no-margin-button">Search</button>
                    </form>
                </div>
            </div>
            
            <script>
                function submitSearch() {
                    // Get the value from the input
                    var query = document.getElementById('searchInput').value;
                    // Redirect the browser to the search URL with the query
                    window.location.href = '/search?q=' + encodeURIComponent(query);
                }
            </script>

            <script src="{{ url_for('static', filename='js/detect_mobile_browser.js') }}"></script>

            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>class_id</th>
                        <th>teacher_id</th>
                        <th>class_name</th>
                        <th>teacher_intro</th>
                        <th>class_schedule</th>
                        <th>class_description</th>
                        <th>class_plan</th>
                        <th>class_requirements</th>
                        <th>other_notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in classes %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td>{{ entry[4] }}</td>
                        <td>{{ entry[5] }}</td>
                        <td>{{ entry[6] }}</td>
                        <td>{{ entry[7] }}</td>
                        <td>{{ entry[8] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h1>Admins</h1>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>admin_id</th>
                        <th>admin_name</th>
                        <th>admin_email</th>
                        <th>active</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in admins %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ entry[0] }}</td>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <script src="{{ url_for('static', filename='js/delete_entry.js') }}"></script>
        </div>
    </div>
</body>

</html>