<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <a href="/">
        <button>Go back to main page</button>
    </a>

    <form action="/student_submit" method="post">
        <label for="id">Student ID:</label>
        <input type="integer" id="id" name="id"><br><br>

        <label for="name">Student's Full Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="s_email">Student's Email:</label>
        <input type="email" id="s_email" name="s_email"><br><br>
        
        <label for="dob">Student's Date of Birth:</label>
        <input type="date" id="dob" name="dob"><br><br>
        
        <label for="wechat">Parent's WeChat (微信) ID:</label>
        <input type="text" id="wechat" name="wechat"><br><br>
        
        <label for="p_email">Parent's Email:</label>
        <input type="email" id="p_email" name="p_email"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
